[Unit]
Description=batterymon
After=network.target

[Service]
Type=simple
User=batterymon
Group=batterymon
ExecStartPre=/bin/mkdir -p /tmp/.batterymon-pyc
ExecStartPre=/bin/chmod 700 /tmp/.batterymon-pyc
ExecStart=/usr/local/share/batterymon/batterymon.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPYCACHEPREFIX=/tmp/.batterymon-pyc

[Install]
WantedBy=multi-user.target
