# Copy this file to batterymon.rc

# use internal watchdogs instead of batterymon-restart.sh
#ENABLE_WATCHDOG='true'

# define permissions in the system
#USER='batterymon'
#GROUP='batterymon'

# set your own PATH variable
#CUSTOM_PYTHON_PATH='/opt/python:/bin:/sbin:/usr/bin:/usr/sbin'

# uncomment if you use BusyBox instead of sysvinit
#BB_INIT='true'
