log_action_msg_pre()
{
	return
}

log_daemon_msg()
{
	echo -n "${@}"
}

log_end_msg()
{
	[ "${1}" = '0' ] && \
		echo ' [ OK ]' || \
		echo ' [FAIL]'
}

status_of_proc()
{
	local pid

	if [ ! -e "${2}" ] || [ ! -r "${2}" ]; then
		echo "${4} is stopped"
		return 1
	fi

	read pid < "${2}"

	if [ -d "/proc/${pid}" ]; then
		echo "${4} is running"
		return 0
	fi

	echo "${4} is stopped"

	return 1
}
